*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

:root{
    --black : #1b1c1e ;
    --color1: #999999;
    --color2: #555555;
    --color3: #111111;
}

body{
    background-color:var(--color2) ;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
}

h1,h2{
    font-size: 35px;
}

.splitter{
    height: 100%;
    width: 1%;
    background-color: var(--color3);
    border-left: var(--black) 2px solid;
    border-right: var(--black) 2px solid;
}

.left, .right, .mid{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.text{
    width: 70%;
    height: fit-content;
    background-color: var(--color1);
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.lucie{
    position: relative;
}

.lucietxt{
    position: absolute;
    height: 70px;
    width: auto;
    right: 30px;
    top: -20px;
}

.arrow{
    position: absolute;
    width: 150px;
    height: auto;
    right: -20%;
    animation: 2s arrow infinite;
}

@keyframes arrow {
    from {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0deg);
    }
} 