*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

:root{
    --black : #1b1c1e ;
    --color1: #f5d8b0;
    --color2: #CA054D;
    --color3: #3B1C32;
    --color4: #EF065B;
}

body{
    background-color:var(--color2) ;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
}


h1,h2{
    border: #1b1c1e 2px solid;
    padding: 1rem 2rem ;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    box-shadow: #1b1c1e 5px 5px ;
    background-color: var(--color);
}

.splitter{
    height: 100%;
    width: 1%;
    background-color: white;
    border-left: var(--black) 2px solid;
    border-right: var(--black) 2px solid;
}

.left, .right, .mid{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.text{
    width: 70%;
    height: fit-content;
    border: solid 3px var(--color1);
    background-color: var(--color4);
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.leftcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.lucie{
    position: relative;
    max-width: 256px;
}

.lucietxt{
    position: absolute;
    height: 70px;
    width: auto;
    right: 30px;
    top: -20px;
}

.arrow{
    position: absolute;
    width: 150px;
    height: auto;
    right: -20%;
    animation: 2s arrow infinite;
}

@keyframes arrow {
    from {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    to {
        transform: rotate(0deg);
    }
} 


.midone, .midtwo{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.midoneLeft, .midoneRight, .midtwoLeft, .midtwoRight{
    width: 45%;
    height: fit-content;
    font-size: 20px;
    
}

.midtwoLeft, .midoneRight{
    display: flex;
    justify-content: center;
}

.midtwoRight{
    text-align: right;
}

h3{
    font-size: 30px;
}

h1, h2, h3{
    color: var(--color3);
}

.pencil{
    width: 180px;
    height: auto;
    animation: pencil 1.5s infinite;
}

.code{
    width: 200px;
    height: auto;
    animation: code 1.5s infinite;
}

@keyframes pencil {
    from {
        transform: rotate(-130deg);
    }
    50%{
        transform: rotate(-122deg);
    }
    70%{
        transform: rotate(-122deg);
    }
    to {
        transform: rotate(-130deg);
    }
} 
@keyframes code {
    from {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(0deg);
    }
} 

.midoneLeft, .midtwoRight, .projetTxt{
    border: solid 3px var(--color1);
    background-color: var(--color4);
    padding: 15px;
    border-radius: 20px;
}

.projetlucie{
    width: 500px;
    height: auto;
}

.right{
    font-size: 20px;
    text-align: justify;
}

.imagesPj{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.imagesPj img{
    width: 150px;
    height: auto;
}

.imagesPj img:nth-child(even){
    animation: sushi 2s infinite;
}
.imagesPj img:nth-child(odd){
    animation: bowl 2s infinite;
}

main a{
    text-decoration: none;
    color: var(--color1);
}
@keyframes bowl {
    from {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
} 

@keyframes sushi {
    from {
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
} 

@media screen and (max-width: 1900px) {
    body{
        overflow-y: scroll;
        height: 100%;
        width: 100%;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    .left,.mid,.right{
        width: 80%;
    }
    .leftcont{
        flex-direction: row;
        width: 100%;
    }
    
    .splitter{
        height: 10px;
        width: 100%;
        border: var(--black) 2px 0 2px 0 solid;
    }
}

@media screen and (max-width: 800px){
    .lucie{
        width: 40%;
        height: auto;
    }
    .arrow{
        width: 100px;
        height: auto;
    }
    .lucietxt{
        height: 40px;
        width: auto;
    }
    .luciedraw{
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 600px){
    .leftcont{
        flex-direction: column;
        width: 100%;
    }
    .text{
        width: 90%;
    }
    .left, .mid, .right{
        width: 100%;
    }
    .projetlucie{
        width: 400px;
    }
    .arrow{
        right: 10px;
    }
}

@media screen and (max-width: 500px){
    .lucie{
        width: 100%;
    }
    .lucietxt{
        right: 100px;
    }
    .arrow{
        right: 60px;
    }
    .projetlucie{
        width: 300px;
    }
    .pencil, .code{
        width: 100px;
    }
    .midone, .midtwo{
        flex-direction: column;
    }

    .midoneLeft, .midtwoRight{
        width: 100%;
        text-align: center;
    }
    .midtwoRight{
        order: -1;
    }
    .imagesPj img{
        width: 100px;
    }
}
