*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', sans-serif;
}

:root{
    --black : #1b1c1e ;
    --color : #f5d8b0 ;
    --vert: #b9ff82;
}

body{    
    background-image:url("../lucie/images/fond.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}

/* ------------------------------------HEADER------------------------------------ */

button.inverted {
    background-color: var(--vert);
}

/* ------------------------------------HEADER------------------------------------ */
/* ------------------------------------MAIN------------------------------------ */

main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

/* ------------------------------------MAIN/HAUT------------------------------------ */

main .haut {
    display: flex;
    flex-direction: row;
}

/* ------------------------------------LEFT------------------------------------ */

main .left{
    height: 100px;
    width: 60%;
    margin: auto;
    height: 700px;
    margin-top: 130px;
}

main .left .titre a{
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
}

main .left .titre a img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

main .left .titre h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}

main .left .desc{
    margin-top: 20px;
    width: 80%;
    text-align: end;
}

main .left .desc p{
    font-size: 20px;
    text-align: start;
}

main .left .desc button{
    border: #1b1c1e 2px solid;
    padding: 1rem 2rem ;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    box-shadow: #1b1c1e 5px 5px ;
    background-color: var(--color);
    border-radius: 40px;
}

main .left .desc button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

main .left .arrow{
    width: 18%;
    margin-left: 950px;
    margin-top: 50px;
}

/* ------------------------------------LEFT------------------------------------ */
/* ------------------------------------RIGHT------------------------------------ */

main .right{
    width: 30%;
}

main .right .effect{
    width: 100px;
    margin-left: 400px;
    transform: rotateY(180deg);
}

main .right .card{
    width: 70%;
}

main .right .card img{
    width: 100%;
    border: #1b1c1e 2px solid;
    box-shadow: #1b1c1e 15px 15px ;
    border-radius: 20px;
}

main .right .fond{
    height: 550px;
    width: 400px;
    background-color: var(--color);
    position: absolute;
    z-index: -1;
    margin-top: -550px;
    transform: rotate(15deg);
    border: #1b1c1e 2px solid;
    box-shadow: #1b1c1e 15px 15px ;
    border-radius: 20px;
}

/* ------------------------------------RIGHT------------------------------------ */
/* ------------------------------------MAIN/HAUT------------------------------------ */
/* ------------------------------------MAIN/CENTRE------------------------------------ */

main .centre {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* ------------------------------------LEFT------------------------------------ */

main .centre .left{
    width: 50%;
    margin-right: 200px;
    margin-left: 50px;
}

main .centre .left .effect{
    width: 100px;    
    transform: rotate(-15deg);
    margin-top: -50px;
    margin-bottom: -20px;
}

main .centre .left .card{
    width: 100%;
    margin-left: 80px;
    margin-top: 10px;
}

main .centre .left .card img{
    width: 90%;
    border-bottom: white 2px solid;
    border-right: white 2px solid;
    box-shadow: #1b1c1e 15px 15px ;
    border-radius: 20px;
}

main .centre .left .card .projet{
    display: none;
}

main .centre .left .fond{
    height: 400px;
    width: 750px;
    background-color: var(--vert);
    position: absolute;
    z-index: -1;
    margin-top: -420px;
    margin-left: 210px;
    transform: rotate(15deg);
    border: #1b1c1e 2px solid;
    box-shadow: #1b1c1e 15px 15px ;
    border-radius: 20px;
}

main .centre .left .effect2{
    width: 80px;
    transform: rotate(180deg);
    margin-left: 870px;
    margin-top: 90px;
}

/* ------------------------------------LEFT------------------------------------ */
/* ------------------------------------RIGHT------------------------------------ */

main .centre .right{
    width: 50%;
    text-align: end;
    margin-top: 200px;
}

main .centre .right .titre{
    display: flex;
    flex-direction: row;
}

main .centre .right .titre p{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left:250px;
    margin-top: 30px;
}

main .centre .right .titre h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
    width: 67%;
    margin-left: -250px;
}

main .centre .right .desc{
    margin-top: 20px;
    width: 80%;
    text-align: left;
}

main .centre .right .desc p{
    font-size: 20px;
    text-align: right;
}

main .centre .right .desc button{
    border: #1b1c1e 2px solid;
    padding: 1rem 2rem ;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
    box-shadow: #1b1c1e 5px 5px ;
    background-color: var(--vert);
    border-radius: 40px;
}

main .centre .right .desc button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

main .centre .right .desc button img{
    width: 30px;
    height: 30px;
    margin: -10px 10px -10px 0;
}

/* ------------------------------------RIGHT------------------------------------ */
/* ------------------------------------MAIN/CENTRE------------------------------------ */

main .fond-bas{
    position: absolute;
    z-index: -5;
    margin-top: 950px;
    margin-left: 650px;
}

/* ------------------------------------RESPONSIVE------------------------------------ */

@media screen and (max-width:760px) {
    
/* ------------------------------------HEADER------------------------------------ */
   
    body{
        background-image:none;
    }

/* ------------------------------------MAIN/HAUT------------------------------------ */

    main{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    main .hide{
        display: none;
    }
    
/* ------------------------------------LEFT------------------------------------ */

    main .haut {
        display: flex;
        flex-direction: column;
    }

    main .left{
        height: 100px;
        width: 100%;
        margin: auto;
        margin-top: 130px;
    }

    main .left .titre a{
        font-size: 15px;
        text-decoration: none;
        color: var(--black);
    }

    main .left .titre a img{
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
    }

    main .left .titre h1{
        font-size: 50px;
        font-weight: bold;
        margin-top: 30px;
        text-transform: uppercase;
    }

    main .left .desc{
        margin-top: 20px;
        width: 100%;
    }

    main .left .desc p{
        font-size: 20px;
    }


    main .left .desc button{
        border: #1b1c1e 2px solid;
        padding: 1rem 2rem ;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 40px;
        box-shadow: #1b1c1e 5px 5px ;
        background-color: var(--color);
    }

    main .left .arrow{
        width: 80%;
    }
    
/* ------------------------------------LEFT------------------------------------ */
/* ------------------------------------RIGHT------------------------------------ */

    main .right{
        width: 100%;
        margin-top: 30px;
    }

    main .right .effect{
        width: 90px;
        margin-left: 270px;
        margin-top: 440px;
        transform: rotateY(180deg);
        position: absolute;
    }

    main .right .card{
        width: 80%;
        margin-top: 550px;
    }

    main .right .card img{
        width: 100%;
        border: #1b1c1e 2px solid;
        box-shadow: #1b1c1e 15px 15px ;
    }

    main .right .fond{
        height: 350px;
        width: 250px;
        background-color: var(--color);
        position: absolute;
        z-index: -1;
        margin-top: -410px;
        margin-left: 50px;
        transform: rotate(5deg);
        border: #1b1c1e 2px solid;
        box-shadow: #1b1c1e 15px 15px ;
    }

/* ------------------------------------RIGHT------------------------------------ */
/* ------------------------------------MAIN/HAUT------------------------------------ */
/* ------------------------------------MAIN/CENTRE------------------------------------ */

    main .centre {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

/* ------------------------------------LEFT------------------------------------ */

    main .centre .left{
        width: 100%;
        margin-right: 200px;
        margin-left: 50px;
    }

    main .centre .left .effect{
        margin-top: 550px;
        margin-left: -50px;
        position: absolute;
    }

    main .centre .left .card{
        width: 100%;
        margin-left: -40px;
        margin-top: 680px;
        height: 600px;
    }

    main .centre .left .card .projet{
        display: block;
        width: 80%;
    }

    main .centre .left .fond{
        height: 450px;
        width: 250px;
        background-color: var(--vert);
        position: absolute;
        z-index: -1;
        margin-top: -600px;
        transform: rotate(15deg);
        border: #1b1c1e 2px solid;
        box-shadow: #1b1c1e 15px 15px ;
        margin-left: -8px;
    }

/* ------------------------------------LEFT------------------------------------ */
/* ------------------------------------RIGHT------------------------------------ */

    main .centre .right{
        width: 100%;
        text-align:left;
        margin-top: -150px;
        height: 600px;
    }

    main .centre .right .titre h1{
        font-size: 50px;
        font-weight: bold;
        margin-top: 30px;
        text-transform: uppercase;
        width: 80%;
        margin-left: 0;
    }

    main .centre .right .desc{
        margin-top: 20px;
        width: 80%;
    }

    main .centre .right .desc p{
        font-size: 20px;
        text-align: left;
    }

    main .centre .right .desc button{
        border: #1b1c1e 2px solid;
        padding: 1rem 2rem ;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20px;
        box-shadow: #1b1c1e 5px 5px ;
        background-color: var(--vert);
    }

    main .centre .right .desc button img{
        width: 30px;
        height: 30px;
        margin: -10px 10px -10px 0;
    }
    
/* ------------------------------------RIGHT------------------------------------ */
/* ------------------------------------MAIN/CENTRE------------------------------------ */
/* ------------------------------------MAIN------------------------------------ */

}


/* ------------------------------------RESPONSIVE------------------------------------ */