* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

:root {
    --navHeight: 50px;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: grey;
}

header {
    height: var(--navHeight);
    background-color: red;
}

main {
    /* height: calc(100vh - var(--navHeight)); */
    position: relative;
}

.scene {
    display: grid;
    place-items: center;
    position: absolute;
}

section {
    height: calc(100vh - var(--navHeight));
    padding: 16px;
}

section > .card__container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: white;
}

section:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(400px);
}

section:nth-of-type(2) {
    transform: rotateY(-120deg) translateZ(400px);
}

section:nth-of-type(3) {
    transform: rotateY(-240deg) translateZ(400px);
}